.header-wrap {
	width: 85%;
	padding: 0 10% 0 5%;
	height: 50px;
	background-color: var(--purple);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	color: var(--yellow);
	font-size: 20px;
}

.header-links-wrap {
	width: 50%;
	display: flex;
	justify-content: space-evenly;
}

.header-link {
	font-family: 'Ubuntu-light';
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.header-link:hover, .header-link:active {
	color: var(--yellow);
}


