.courseTemplate-title-wrap {
	margin-bottom: 1vw;
	text-align: center;
}

.courseTemplate-title {
	color: var(--purple);
	margin: 10px 0;
	padding-bottom: 10px;
}

.courseTemplate-lab-row {
	color: var(--purple);
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--gray-02);
	margin: 0 auto;
	text-decoration: none;
	width: 80%;
	font-weight: bold;
	font-size: calc(11px + .2vw);
	padding: calc(5px + .2vw) calc(10px + .2vw);
}

.courseTemplate-lab-row:last-child {
	border-bottom: 0px;
}

.courseTemplate-lab-row:hover, .courseTemplate-lab-row:active {
	background-color: var(--gray-02);
}
