#index-about-section {
	margin-bottom: 5vw;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.index-headshot-img {
	max-width: 25%;
	height: auto;
	box-shadow: -1vw -1vw 0 0 var(--yellow), 1vw 1vw 0 0 var(--purple);
}

.index-info-wrap {
	margin: 3vw;
}

#index-intro-statement-section {
	padding: 5%;
	margin: 0 5vw 5vw 5vw;
	background-color: var(--gray-01);
	box-shadow: 1vw 1vw 0 0 var(--purple);
}

@media (max-width: 650px) {
	#index-about-section {
		flex-direction: column;
	}

	.index-headshot-img {
		max-width: 50%;
	}

	.index-info-wrap > h2, .index-contact {
		text-align: center;
	}
}