:root {
	--purple: rgb(98, 63, 153);  /* #623f99 */
	--yellow: rgb(255, 194, 14); /* #ffc20e */
		font-family: 'Ubuntu-light';
}

h1, h2, h3, h4, h5, h6 {
	margin: 1vw 0;
	padding: 0 0;
	font-family: 'Ubuntu-light';
	font-weight: 100;
}

h1 {
	font-size: calc(17px + 2vw);
}

h2 {
	font-size: calc(16px + 1.8vw);
}

h3 {
	font-size: calc(14px + 1.5vw);
}

h4 {
	font-size: calc(14px + 1.2vw);
}

h5 {
	font-size: calc(13px + 1.2vw);
}

h6 {
	font-size: calc(12px + 1vw);
}

.row {
	color: rgb(81, 38, 152);
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #e2e2e2;
	margin: 0 auto;
	text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: calc(11px + .2vw);
	padding: calc(5px + .2vw) calc(10px + .2vw);
}

.pipe {
	color: var(--yellow);
}