#main-courses {
	text-align: center;
}

.main-course-row {
	text-align: left;
	color: rgb(81, 38, 152);
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #e2e2e2;
	text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: calc(12px + .2vw);
	padding: calc(5px + .2vw) calc(10px + .2vw);
}

.main-course-row:last-child {
	border-bottom: 0px;
}

.main-course-row:hover, .main-course-row:active {
	background-color: #e2e2e2;
}

.main-course-name {
	display: inline-block;
	max-width: 74%;
}

.main-course-semester {
	font-style: italic;
	text-align: right;
	font-size: calc(11px + .2vw);
}

.main-course-pipe {
	color: var(--yellow);
}