#researchInterests {
	margin-bottom: 5vw;
}

.researchInterests-content {
	text-align: justify;
	padding: 2vw 6vw 2vw 2vw;
	margin-left: 4vw;
	background-color: var(--gray-01);
	box-shadow: -1vw 0 0 0 var(--yellow);
}

.researchInterests-sponge {
	margin-top: 2vw;
	margin-left: 1vw;
	max-width: 50%;
	height: auto;
	float: right;
}

.researchInterests-mof {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

/*@media (max-width: 700px) {
	#index-about-section {
		flex-direction: column;
	}
}*/
